.widget{ 
    display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 16px;
}

.widget-txt{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #2e2f42;
}

button{
    border-radius: 8px;
    border-color: #fff ;
        padding: 8px 16px;
        width: 148px;
        height: 40px;
        background-color: #4e75ff;
        font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #fff;
}